//--> Create Nice Head Style With Border In Midelle
.head-with-border {
    position: relative;
    h2 {
        background-color: $mainColor;
        text-align: center;
        color: #FFF;
        margin: 40px auto;
        border-radius: 15px;
        padding: 10px 15px;
        &:before {
            content: "";
            width: 100%;
            height: 1.5px;
            background-color: $grayColor;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: -1
        }
        //--> Container In Extra Small Screen
        @include XsScreen { max-width: 300px; }
        //--> Container In Small Screen
        @include SScreen { max-width: 300px; }
        //--> Container In Mediume Screen
        @include MScreen { max-width: 400px; }
    }
}

//--> Create Section Box Title For Box Of The Footer
.section-box-title { color: #444; font-weight: 400 }
