$mainColor: #E2494C; //--> Main Color Of Page
$grayColor: #9C9C9C; //--> Main Gray Color Of Page

$float-left: left; //--> For Make Element Float Left
$float-right: right; //--> For Make Element Float Right

$text-right: right; //--> Make Text In Right Of Screen
$text-left: left; //--> Make Text In Left Of Screen
